<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="cache-control" content="no-cache, no-store, max-age=0, s-maxage=0, must-revalidate, proxy-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="author" content="Pavlos Andrade" />
    <meta name="generator" content="Nova Singular Framework" />
    <meta name="copyright" content="2021, https://github.com/pavlosandrade" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="general" />
    <meta name="distribution" content="global" />


    <link rel="shortcut icon" type="image/x-icon" href="/Images/nasa-ico.ico">
    <title>NASA Spaces Apps</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
    <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.helper.ie8.js"></script><![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="./Css/main.css">



</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <partial name="_Header" />

    <main role="main">
        @RenderBody()
    </main>

    <partial name="_Footer" />



    @*<script src="/lib/simple-scrollspy/simple-scrollspy.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <script src="/js/site.js" defer></script>

</body>

</html>