<section class="parallax before-overlay bg-dark scrollspy" id="contato">
    <div class="container position-relative py-5">
        <div class="row">

            <div class="col-md-5 text-md-start text-center order-1 order-md-0 mt-5 mt-md-0">
                <h2 class="text-primary">
                    Contato
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet, erat auctor feugiat accumsan, ante risus cursus dolor.
                </p>

                <form class="row">

                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="" placeholder="Nome*">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3" id="" placeholder="Telefone">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3" id="" placeholder="E-mail*">
                    </div>

                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="" placeholder="Assunto*">
                    </div>

                    <div class="col-12">
                        <textarea class="form-control mb-3" placeholder="Mensagem*" rows="6"></textarea>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn-custom btn-primary">
                            <i class="fa fa-paper-plane mr-1"></i> Enviar
                        </button>
                    </div>

                </form>
            </div>

            <div class="col-md-7 text-md-start text-center">
                <h2 class="text-primary pb-3">
                    Nossa informações de contato estão aqui.
                </h2>

                <div class="col-12 pt-5">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    E-mail:
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-justify text-dark">
                                    contato@novasingular.com.br
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Telefones:
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-justify text-dark">
                                    (16) 9999-9999 <br />
                                    (16) 9999-9999
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Endereço:
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-justify text-dark">
                                    Rua Lorem Ipsum, 800 - Ribeirão Preto, SP
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

