<section class="bg-white pt-3 scrollspy" id="sobre">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img class="img-fluid" src="~/Images/NASA-Space-Apps-Challenge.png" style="width: 70%" />
            </div>
            <div class=" col-md-6">
                <h1 class="text-center text-dark pb-4">Sobre a Nasa Space Apps</h1>
                <p>
                    É o hackathon global anual da NASA, realizado pela primeira vez em abril de 2012, e serve como incubação de
                    inovação e programa de engajamento cívico.
                </p>
                <p>
                    A NASA e seus parceiros colocaram desafios relacionados ao trabalho atual para que entusiastas do espaço em
                    todo o mundo, de todas as origens,
                    possam desenvolver soluções inovadoras (que podem ser mais do que apenas aplicativos!), com foco especial no
                    uso de dados da NASA e promoção da educação.
                </p>
                <p>
                    O projeto, anteriormente administrado pelo Gabinete do Chief Information Officer da NASA,
                    faz parte do Earth Science Mission Directorate e é parte da Open Government Initiative fundada pelo presidente
                    Barack Obama.
                </p>
            </div>
        </div>
    </div>
</section>
